<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="row"> 
    <div class="col col-12 col-sm-8 col-md-6">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, ipsam! Excepturi veniam 
aspernatur sunt, quaerat odio aliquam dolore sapiente quisquam possimus dignissimos a esse provident dicta alias, nisi culpa blanditiis?
    </div>
     <div class="col col-12 col-sm-4 col-md-6"> 
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero ullam porro 
         sapiente adipisci possimus deserunt cumque, iure commodimagnam inventore facere natus dignissimos nemo sequi obcaecati quae voluptas distinctio.
     </div>
    </div>
    </div>
</body>
</html>